<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ifreedomer.tencent">

    <application>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106956819"/>
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>


        <activity android:name=".LoginQQActivity"/>
        <!-- zivon add start -->


        <!-- <activity android:name=".TestLoginActivity"> -->
        <!-- </activity> -->

        <!--<activity android:name=".LoginQQActivity">-->
        <!--</activity>-->




    </application>

</manifest>